<a href="https://colab.research.google.com/github/thatpanda1/coding/blob/main/11_15_2023_Classwork_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Week of 11.15.2023: Tuples and Dictionaries**
---

<br>

<br>

### **Learning Objectives**
By the end of this lab, we will:
* Check what datatype a value is
* Cast or change the datatype for a value
* Take the input from a user
* How to create a list
* How to select a certain element from a list

<a name="p1"></a>

---
## **Part 1: Tuples**
---

#### **Problem #1.1**

**Together**, create a tuple!

In [ ]:
coding_languages = ('python', 'java', 'c', 'c++', 'html')

<class 'tuple'>
apple

'apple'

#### **Problem #1.2**

**Independently**, create a tuple showing the first 10 whole numbers and access the first item.

In [ ]:
whole_numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
print(whole_numbers[0])

1

#### **Problem #1.3**

**Together**, let's try to run this code!

In [1]:
lwsd_middle_schools= {"evergreen", "inglewood", "kamiakin"}
lwsd_middle_schools.append("finn hill")

AttributeError: ignored

<a name="p1"></a>

---
## **Part 2: Dictionaries**
---

#### **Problem #2.1**

**Together**, let's create a dictionary of people's Elementary Schools.

In [ ]:
ems_coding_students_elementary_schools = {"Vardhan" : "Ella Baker", "Siddarth" : "Alcott", "Sachin" :"McAuliffe", "Viraj" : "McAuliffe"}
print(ems_coding_students_elementary_schools)

type(ems_coding_students_elementary_schools)

{'Vardhan': 'Ella Baker', 'Siddarth': 'Alcott', 'Sachin': 'McAuliffe', 'Viraj': 'McAuliffe'}

dict

#### **Problem #2.2**

**Independently**,  create an dictionary about people's favorite classes in school.

In [ ]:
fav_classes = {"Emily" : "Chemistry", "Sophia" : "Orchestra", "Ananya": "Computer Science"}
fav_classes["Emily"]

'Chemistry'

#### **Problem #2.3**

**Together**, let's create access a value in the dictionary created in problem 2.1.

In [7]:
ems_coding_students_elementary_schools = {"Vardhan" : "Ella Baker", "Siddarth" : "Alcott", "Sachin" :"McAuliffe", "Viraj" : "McAuliffe"}
a = ems_coding_students_elementary_schools.get("Siddarth")

print(a)

Alcott

#### **Problem #2.4**

**Together**, let's create add a value in the dictionary created in problem 2.1.

In [ ]:
fav_classes["Arjun"] = "Math"
print(fav_classes)

{'Emily': 'Chemistry', 'Sophia': 'Orchestra', 'Ananya': 'Computer Science', 'Arjun': 'Math'}

#### **Problem #2.5**

**Independently**, let's modify add the last value in the dictionary created in problem 2.1.

In [11]:
ems_coding_students_elementary_schools = {"Vardhan" : "Ella Baker", "Siddarth" : "Alcott", "Sachin" :"McAuliffe", "Viraj" : "McAuliffe"}

ems_coding_students_elementary_schools.update({"Vardhan": "Alcott"})

ems_coding_students_elementary_schools

{'Vardhan': 'Alcott',
 'Siddarth': 'Alcott',
 'Sachin': 'McAuliffe',
 'Viraj': 'McAuliffe'}

#### **Problem #2.6**

**Independently**, let's modify add the last value in the dictionary created in problem 2.1.

#### **Problem #2.7**

**Independently**, let's remove add the first value in the dictionary created in problem 2.1.

In [13]:
ems_coding_students_elementary_schools = {"Vardhan" : "Ella Baker", "Siddarth" : "Alcott", "Sachin" :"McAuliffe", "Viraj" : "McAuliffe"}

ems_coding_students_elementary_schools.pop("Vardhan")
print(ems_coding_students_elementary_schools)

{'Siddarth': 'Alcott', 'Sachin': 'McAuliffe', 'Viraj': 'McAuliffe'}